<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/jianzhong.Rong/IdeaProjects/selenium-demo/integrate-jenkins">
        <classes>
            <class name="interview.selenium.integrate.test.TestDemo"></class>
            <class name="interview.selenium.integrate.test.TestDemo2"></class>
        </classes>
    </test>
</suite>